In [ ]:

# --------------------------------
# create season entry in entry in season
# UserProfileCodeBank - this will work on agent allotment 
# ClusterSeasonMap - add clusters to the season
# AgentSupervisorSeasonMap - work on agent supervisor allotment
# UserClusterMap - work on maping user to cluster
# Sowing - will add on add sowing

# --------------------------------
# input distri
# InputGoods - should add the input for the input for this season
# InputPacketInventory -  should seperate into packets and them map it to the active season
# InputStoreInventory
# InputStoreInventoryPacketLabel
# InputSubStoreInventory
# InputSubStoreInventoryPacketLabel
# ComboIssueRequest
# AgentInventory
# ReturnableComboItems =>>> should add the returnable items
# YeildPrediction ==> should add the limit
# AgentProcurementPrice => input agent price for this season
# AgentMergeloadEnable => enalbe the dual role for agents
# Allowance

# --------------------------------

In [ ]:
import pandas as pd
def get_active_season_id():
    season_obj = Season.objects.get(is_active=True)
    return season_obj.id

# inactive the old season
Season.objects.filter(is_active=True).update(is_active=False)
print('old season de-activated')

# create season
Season.objects.create(
    name = '2022-marigold-01',
    year = '2022-01-01',
    crop_id = 1,
    start_date = '2022-03-01', 
    end_date = '2022-07-01',
    is_active = True,
    ordinal = 4,
    created_by_id = 1, 
    modified_by_id = 1
)
print('new season created and activated')

# creating test cluster
Cluster.objects.create(
        name='Test',
        notes='test'
)
print('created a test cluster')
season_id = get_active_season_id()
# create codebanks 
for user in UserProfileCodeBank.objects.filter(season_id=3):
    UserProfileCodeBank.objects.create(
        business_id=1,
        season_id=season_id,
        user_type_id=user.user_type_id,
        prefix_code=user.prefix_code,
        last_count=0
    )
print('code bank for user profile created')

# after agent creation
AgentMergeloadEnable.objects.create(season_id=season_id, agent_id=)

In [18]:
pd.DataFrame(UserProfileCodeBank.objects.filter(season_id=4).values())

,id,business_id,season_id,user_type_id,prefix_code,suffix_code,last_count,time_created,time_modified
0,10,1,4,1,GM,None,0,2022-02-10 05:23:31.202639+00:00,2022-02-10 05:23:31.202663+00:00
1,11,1,4,2,AM,None,0,2022-02-10 05:23:31.211445+00:00,2022-02-10 05:23:31.211464+00:00
2,12,1,4,3,SFS,None,0,2022-02-10 05:23:31.213203+00:00,2022-02-10 05:23:31.213221+00:00
3,13,1,4,4,AO,None,0,2022-02-10 05:23:31.216511+00:00,2022-02-10 05:23:31.216594+00:00
4,14,1,4,5,AFS,None,0,2022-02-10 05:23:31.218788+00:00,2022-02-10 05:23:31.218807+00:00
5,15,1,4,8,SD,None,0,2022-02-10 05:23:31.220477+00:00,2022-02-10 05:23:31.220496+00:00
6,16,1,4,10,P,None,0,2022-02-10 05:23:31.223212+00:00,2022-02-10 05:23:31.223283+00:00
7,17,1,4,12,SCE,None,0,2022-02-10 05:23:31.228335+00:00,2022-02-10 05:23:31.228406+00:00
8,18,1,4,6,A,None,0,2022-02-10 05:23:31.234181+00:00,2022-02-10 05:23:31.234301+00:00

In [19]:
FCMDevice.objects.all().delete()

(17, {'fcm_django.FCMDevice': 17})

In [23]:
pd.DataFrame(UserClusterMap.objects.filter(season_id=4).values())

,id,season_id,user_id,cluster_id,unique_code,modified_by_id,time_created,time_modified
0,503,4,23,12,,82,2022-02-10 05:14:12.373821+00:00,2022-02-10 05:14:12.374006+00:00
1,508,4,167,7,,82,2022-02-10 10:07:56.802021+00:00,2022-02-10 10:07:56.802049+00:00
2,507,4,166,12,T,82,2022-02-10 05:43:39.551172+00:00,2022-02-10 05:43:39.551191+00:00

In [ ]:
Use