In [64]:
import pandas as pd
import numpy as np
import datetime
from decimal import Decimal

In [40]:
# request_data
sowing_lifespan_days = 120
forcast_date = datetime.datetime.now().date()
minimum_sowing_date = forcast_date - datetime.timedelta(days=sowing_lifespan_days)
first_harvest_sowing_date = forcast_date - datetime.timedelta(days=145)

In [41]:
# step 1
harvest_values = Harvest.objects.filter(sowing__sowing_date__gte=minimum_sowing_date).order_by('-date_of_harvest').values_list('id', 'sowing_id', 'sowing__area', 'sowing__crop_id', 'date_of_harvest', 'nth_harvest__harvest_name')
harvest_columns = ['harvest_id', 'sowing_id', 'area', 'crop_id', 'date_of_harvest', 'nth_harvest']
harvest_df = pd.DataFrame(list(harvest_values), columns=harvest_columns)
# harvest_df['count'] = 0

In [42]:
# step 2
sowing_id_with_cound_df = harvest_df.groupby('sowing_id').size().reset_index(name='count')

In [43]:
# step 3
harvest_df = harvest_df.drop_duplicates(subset=['sowing_id'], keep='first')

In [44]:
harvest_df.head()

   harvest_id  sowing_id  area  crop_id date_of_harvest nth_harvest
0        6846       3765   0.5        1      2020-07-24        None
1        6847       3759   0.5        1      2020-07-24        None
2        6848       3761   0.5        1      2020-07-24        None
3        6849       4642   1.5        1      2020-07-24        None
4        6850       4653   2.0        1      2020-07-24        None

In [45]:
harvest_df = harvest_df.merge(sowing_id_with_cound_df, how='left', left_on='sowing_id', right_on='sowing_id')

In [46]:
harvest_df.tail()

      harvest_id  sowing_id  area  crop_id date_of_harvest nth_harvest  count
2173        5053       3317   1.0        1      2020-06-10        None      2
2174        5054       3314   0.5        1      2020-06-10        None      1
2175        4382       4007   1.0        1      2020-06-06        None      1
2176        3797       3958   0.5        1      2020-06-01        None      1
2177          14       3829   0.5        1      2020-05-26        None      1

In [47]:
harvest_df = harvest_df[harvest_df['count'] < 10]

In [48]:
harvest_df.dtypes

harvest_id           int64
sowing_id            int64
area               float64
crop_id              int64
date_of_harvest     object
nth_harvest         object
count                int64
dtype: object

In [49]:
harvest_df['next_harvest'] = (pd.to_datetime(harvest_df['date_of_harvest'], format="%Y-%m-%d") + datetime.timedelta(days=7)).dt.date
harvest_df['count'] = harvest_df['count'] + 1

In [50]:
harvest_df[harvest_df['next_harvest'] == datetime.datetime.now().date()]

,harvest_id,sowing_id,area,crop_id,date_of_harvest,nth_harvest,count,next_harvest
612,6245,5529,1.5,1,2020-07-22,None,5,2020-07-29
613,6244,2093,1.0,1,2020-07-22,None,4,2020-07-29
614,6243,5944,1.0,1,2020-07-22,None,2,2020-07-29
615,6242,2541,1.0,1,2020-07-22,None,2,2020-07-29
616,6241,2542,1.0,1,2020-07-22,None,7,2020-07-29
...,...,...,...,...,...,...,...,...
886,5870,2696,1.0,1,2020-07-22,None,2,2020-07-29
887,5845,2953,1.0,1,2020-07-22,None,6,2020-07-29
888,5854,2972,1.0,1,2020-07-22,None,3,2020-07-29
889,5866,5030,1.0,1,2020-07-22,None,2,2020-07-29
890,6248,5525,1.0,1,2020-07-22,None,7,2020-07-29

###  "find first harvest sowing"

In [79]:
sowing_values = Sowing.objects.filter(sowing_date=first_harvest_sowing_date).values_list('id', 'sowing_date', 'area', 'crop_id')

In [80]:
sowing_columns = ['sowing_id', 'sowing_date', 'area', 'crop_id']

In [81]:
sowing_df = pd.DataFrame(list(sowing_values), columns=sowing_columns)

In [82]:
sowing_df = sowing_df.assign(**{'date_of_harvest': forcast_date, 'nth_harvest': None, 'count': 1, 'harvest_id': np.nan})

In [83]:
sowing_df

,sowing_id,sowing_date,area,crop_id,date_of_harvest,nth_harvest,count,harvest_id
0,24,2020-03-06,1.0,1,2020-07-29,None,1,NaN
1,3306,2020-03-06,1.0,1,2020-07-29,None,1,NaN
2,3308,2020-03-06,1.0,1,2020-07-29,None,1,NaN
3,3746,2020-03-06,1.5,1,2020-07-29,None,1,NaN

In [84]:
def predict_yeild(crop_id, harvest_level_name, area):
#     print('{} = {} = {}'.format(crop_id, harvest_level_name, area))
    return YeildPrediction.objects.get(crop_id=crop_id, harvest_range__harvest_name=harvest_level_name).expected_yeild_weight_in_kg * Decimal(area)

In [85]:
harvest_df['predicted_harvest_weight_in_kg'] = harvest_df.apply(lambda row: predict_yeild(row['crop_id'], str(row['count']), row['area']), axis=1)

In [86]:
harvest_df.head()

,harvest_id,sowing_id,area,crop_id,date_of_harvest,nth_harvest,count,next_harvest,predicted_harvest_weight_in_kg
0,6846,3765,0.5,1,2020-07-24,None,5,2020-07-31,600.500
1,6847,3759,0.5,1,2020-07-24,None,6,2020-07-31,500.000
2,6848,3761,0.5,1,2020-07-24,None,7,2020-07-31,300.000
3,6849,4642,1.5,1,2020-07-24,None,4,2020-07-31,2250.000
4,6850,4653,2.0,1,2020-07-24,None,5,2020-07-31,2402.00

In [87]:
harvest_df.head()['predicted_harvest_weight_in_kg'].sum()

Decimal('6052.500')

In [88]:
sowing_df.head()

,sowing_id,sowing_date,area,crop_id,date_of_harvest,nth_harvest,count,harvest_id
0,24,2020-03-06,1.0,1,2020-07-29,None,1,NaN
1,3306,2020-03-06,1.0,1,2020-07-29,None,1,NaN
2,3308,2020-03-06,1.0,1,2020-07-29,None,1,NaN
3,3746,2020-03-06,1.5,1,2020-07-29,None,1,NaN

In [89]:
sowing_df['predicted_harvest_weight_in_kg'] = sowing_df.apply(lambda row: predict_yeild(row['crop_id'], str(row['count']), row['area']), axis=1)

In [92]:
harvest_df.head()['predicted_harvest_weight_in_kg'].sum() + sowing_df['predicted_harvest_weight_in_kg'].sum()

Decimal('7177.500')